<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ILRepack" version="2.0.13" targetFramework="net462" />
  <package id="ILRepack.Lib.MSBuild.Task" version="2.0.13" targetFramework="net462" />
  <package id="SmoothCaptcha" version="1.2.5891.26869" targetFramework="net462" />
</packages>